<!-- Toolbar -->
<div class="toolbar head_toolbar" role="banner">
  <div class="container too_container">
    <div class="row">
      <div class="col-sm col-md tool_image">
        <!-- Image and text -->
        <nav class="navbar nav_responsive">
          <a class="navbar-brand" href="#">
            <img
              width="40"
              alt="Angular Logo"
              src={{appLogo}}
            />
          </a>
        </nav>

      </div>
      <div class="col-sm-9 col-md-9 nav_list">
          <ul class="nav navlist_top">
              <li class="nav-item">
                <a class="nav-link active" href="#">MOST VIEWED</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FREE THEMES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FREE EBOOKES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">WORDPRESS</a>
              </li>
            </ul>
      </div>
      <div class="col-sm col-md res_acount_list">
          <ul class="nav nav_account_list">
              <li class="nav-item content_space">
                  <img src="{{searchImage}}">
              </li>
              <li class="nav-item nav_friends nav_user_content">
                <a class="nav-link account_user" href="#" tabindex="-1" aria-disabled="true"><i class="far fa-user fa_usericon"></i></a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</div>
