.spacer {
  flex: 0;
}

.toolbar {
  height: 70px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #2d2a2e;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.head_toolbar{
  margin: 0;
}
.toolbar .too_container{
  padding: 0;
}
.toolbar .too_container .tool_image{
  padding: 0;
}
.tool_image .nav_responsive{
  padding: 0.5rem 0rem;
  padding-top: 10px;
}
.tool_image .nav_responsive img{
  width: 90px;
}
.too_container .nav_list .navlist_top{
  font-size: 13px;
  color: #4e7d91;
}
.nav_list{
  padding: 0;
}
.navlist_top{
  padding-top: 14px;
}
.navlist_top .nav-item a{
  color: #90d3f0;;
}
.nav_account_list{
  padding-top: 14px;
}
.nav_account_list .content_space img{
  width: 35px;
  cursor: pointer;
  padding-top: 5px;
}
.fa_friends{
  font-size: 18px;
  color: white;
}
.nav_friends{
  padding-top: 4px;
}
.fa_usericon{
  font-size: 18px;
  color: white;
}
.account_user{
  padding-left: 16px;
  padding-top: 7px;
}
.nav_user_content:after{
  content: "Account";
  position: absolute;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 13px;
}
  /* Responsive Styles */
  @media screen and (min-width: 320px) and (max-width: 479px) {
    .nav_responsive{
      padding-top: 85px;
    }
    .res_acount_list{
      bottom: 114px;
    }
    .nav_account_list{
      padding-left: 85px;
      padding-top: 15px;
    }
    .nav_user_content:after{
      bottom: 10px;
    }
  }
