<div class="card-footer ur_footer">
    <div class="container footer_container">
        <div class="row">
          <div class="col-sm-2 foo_content_read">
            <div><span class="foo_title">UREAD</span></div>
            <div><p class="foo_title_copy"><span>&copy;</span>Uread kit 2019</p></div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm">
                <div>
                  <ul class="contact_list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm">
                <div>
                    <ul class="social_links">
                      <li><a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
                    </ul>
                  </div>
              </div>
              <div class="col-sm-5">
                <form class="contact_form form_display">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Subscribe to our newsletter</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary">OK</button>
                  </form>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div>
              <ul class="address_list">
                <li>497 Evergreen Rd. Roseville, PIN 500090</li>
                <li>+91 8885942292</li>
                <li>contact_uread@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

</div>
